.stips-xtra,
.stips-xtra * {
  box-sizing: border-box;
}
.stips-xtra {
  background: #09c286;
  padding: 20px 51px 20px 51px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.title {
  color: #ffffff;
  text-align: left;
  font: 400 40px "Varela Round", sans-serif;
  position: relative;
}
.banner-text {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Varela Round", sans-serif;
  position: relative;
}
.switch-text {
  color: #ffffff;
  text-align: center;
  font: 400 13px "Varela Round", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.note {
  color: #ff0000;
  text-align: center;
  font: 400 15px "Varela Round", sans-serif;
  position: relative;
  width: 307px;
  height: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 51px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 39px;
  width: 39px;
  right: 6px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-39px);
  -ms-transform: translateX(-39px);
  transform: translateX(-39px);
}

.slider.round {
  border-radius: 51px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings {
  flex-shrink: 0;
  position: absolute;
  left: 10px;
  top: 10px;
}
.info {
  flex-shrink: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}
